.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-block: 3.2rem 8px;
}

.container::-webkit-scrollbar {
    display: none;
}