.header {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-inline: 0.8rem;
    transition: height 200ms;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08);
}