.btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
}

.icon {
    font-size: 0.75em;
}