.container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 0.8rem;
    padding: 4px 0.8rem;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}