.container {
    display: grid;
    grid-template-columns: repeat(2, min-content) repeat(2, 0.5fr min-content) auto;
    gap: 0.4rem;
    padding-inline: 0.8rem;
    padding-block: 4px;
    align-items: center;
}