/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*:focus {
    outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* STYLES */

:root {
    --clr-yellow-100: hsla(47, 73, 58);
    --clr-yellow-10: hsla(47, 73, 58, 0.10);

    --clr-blue-100: hsla(210, 77, 57);
    --clr-blue-10: hsla(210, 77, 57, 0.10);

    --clr-green-100: hsla(154, 40, 49);
    --clr-green-10: hsla(154, 40, 49, 0.10);

    --clr-gray-100: hsla(47, 4, 80);

    --clr-black-100: hsla(47, 20, 18);
    --clr-black-75: hsla(47, 20, 18, 0.75);
    --clr-black-50: hsla(47, 20, 18, 0.50);
    --clr-black-25: hsla(47, 20, 18, 0.25);
    --clr-black-10: hsla(47, 20, 18, 0.10);
    --clr-black-5: hsla(47, 20, 18, 0.05);

    --clr-white-100: hsla(0, 0, 100);
    --clr-white-75: hsla(0, 0, 100, 0.75);
    --clr-white-50: hsla(0, 0, 100, 0.50);
    --clr-white-25: hsla(0, 0, 100, 0.25);
    --clr-white-10: hsla(0, 0, 100, 0.10);
    --clr-white-5: hsla(0, 0, 100, 0.05);


    --ff-primary: "Open Sans", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-base: 1em;

    --fs-900: 1.375rem;
    --fs-800: 1.3125rem;
    --fs-700: 1.1875rem;
    --fs-600: 1.125rem;
    --fs-500: 1.0625rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;
}

html {
    font-size: var(--fs-base);
    font-family: var(--ff-primary);
}

/* TEXT COLORS */

.text-black-100 {
    color: var(--clr-black-100);
}

.text-black-75 {
    color: var(--clr-black-75);
}

.text-white-100 {
    color: var(--clr-white-100);
}

.text-white-75 {
    color: var(--clr-white-75);
}

/* BACKGROUND COLORS */

.bg-yellow-100 {
    background-color: var(--clr-yellow-100);
}

.bg-yellow-10 {
    background-color: var(--clr-yellow-10);
}

.bg-blue-100 {
    background-color: var(--clr-blue-100);
}

.bg-blue-10 {
    background-color: var(--clr-blue-10);
}

.bg-green-100 {
    background-color: var(--clr-green-100);
}

.bg-green-10 {
    background-color: var(--clr-green-10);
}

.bg-gray-100 {
    background-color: var(--clr-gray-100);
}

.bg-black-100 {
    background-color: var(--clr-black-100);
}

.bg-black-75 {
    background-color: var(--clr-black-75);
}

.bg-black-50 {
    background-color: var(--clr-black-50);
}

.bg-black-25 {
    background-color: var(--clr-black-25);
}

.bg-black-10 {
    background-color: var(--clr-black-10);
}

.bg-black-5 {
    background-color: var(--clr-black-5);
}

.bg-white-100 {
    background-color: var(--clr-white-100);
}

.bg-white-75 {
    background-color: var(--clr-white-75);
}

.bg-white-50 {
    background-color: var(--clr-white-50);
}

.bg-white-25 {
    background-color: var(--clr-white-25);
}

.bg-white-10 {
    background-color: var(--clr-white-10);
}

.bg-white-5 {
    background-color: var(--clr-white-5);
}

/* FONT WEIGHTS */

.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/* FONT SIZES */

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

/* MEDIA QUERIES */

@media (min-width: 428px) {
    :root {
        --fs-900: 1.8rem;
        --fs-800: 1.6rem;
        --fs-700: 1.4rem;
        --fs-600: 1.25rem;
        --fs-500: 1.1rem;
        --fs-400: 1rem;
        --fs-300: 0.9rem;
        --fs-200: 0.8rem;

        --fs-base: 1.125em;
    }
}

@media (min-width: 1366px) {
    :root {
        --fs-900: 1.8rem;
        --fs-800: 1.6rem;
        --fs-700: 1.4rem;
        --fs-600: 1.25rem;
        --fs-500: 1.1rem;
        --fs-400: 1rem;
        --fs-300: 0.9rem;
        --fs-200: 0.8rem;

        --fs-base: 1.25em;
    }
}